<div class="text_box"><h1>Redigera lag</h1></div>

<div class="text_box">
<%= render 'form' %>
</div>
<div class="text_box">
<%= link_to 'Visa lag', @team %> |
<%= link_to 'Visa alla lag', teams_path %>
<div>