<header class="major">
  <h2><%= @team.country %></h2>
  <p>Grupp <%= @team.group.name %></p>
  <% if current_user && current_user.admin? %>
    <p><%= link_to "Redigera lag", edit_team_path(@team) %>
  <% end %>
</header>

<div class="container">
  <%= render 'games' %>
</div>
