<div class="title_box"><h1>Inloggning</h1></div>
<div class="text_box">
	<h2>Facebook</h2>
	<p>Enklast är att logga in med ditt Facebook-konto. Vi kommer inte att ta del av någon information utöver ditt namn och din email-adress. Vi kommer att be Facebook att verifiera din identitet men ser inte ditt lösenord.</p><br/>
<p><%= link_to "Logga in med Facebook", "/auth/facebook" %></p>
</div>


<div class="text_box">
	<h2>UEFA-2012-konto</h2>
<p>Vi rekommenderar inloggning med Facebook men i det fall att du inte har Facebook kan du också skapa ett konto direkt hos oss och logga in med detta. (Notera att du loggar in med din email-adress som användarnamn.)</p><br/>
<p><%= link_to "Registrera", "/auth/identity/register" %></p><br/>
<p><%= link_to "Logga in", "/auth/identity" %></p>
</div>
