<div class="container">
  <div class="row">
    <div class="6u -3u">
      <h2 class="align-center">Glömt lösenord</h2>

      <p>För att ändra ditt lösenord, skriv in den email-adress du angav när du blev medlem. Du kommer att få ett mail med vidare instruktioner.</p>
      <%= form_tag password_resets_path, :method => :post, :class => 'sign-up-form' do %>
        <div class="field">
          <%= label_tag "E-mail" %>
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div class="submit-container">
          <%= submit_tag "Skicka instruktioner" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
