<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= @message.html_safe %>
<footer><%= link_to "Vin- & Fotbollstips 2016", root_url %></footer>
</body>
</html>
