<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Du glömde bort...</h1>
<p>Det är svårt det där med siffror och minne...<br>På uppdrag av våra sponsorer rekommenderar vi kolinesterashämmaren Aricept från Pfizer.</p>
<p>För att kunna återställa ditt password, klicka <a href="<%= edit_password_reset_url(@user.password_reset_token) %>">här</a></p>
<p>Och så får vi be om skärpning.</p>
<p>mvh,<br>Tävlingsledningen</p>
<footer><%= link_to "Vin- & Fotbollstips 2016", root_url %></footer>
</body>
</html>
