<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Ammen, lämna in Grundtips nu då!</h1>
<p>Allt gick så bra, du anmälde dig och blev godkänd för att tippa. Men sen gick det lixom snett;
du har fortfarande inte lämnat in ditt Grundtips. Grundtips är där du har möjlighet att brilljera genom
att förutspå vilket lag som kommer att kamma hem segern i hela mästerskapet, du får namnge ett lag som du
tror går till final, och inte minst pricka in mästerskapets skyttekung och förste svenske målskytt (extra
  kred till er som inte väljer Zlatan).</p>
<p>Det är totalt 20 poäng som står på spel, så missa inte chansen!</p>
<p>Klicka <%= link_to "här", new_winners_tip_url %> för att lämna ditt Grundtips.</p>
<p>Seså. Iväg och tippa nu, så att vi kan få någon snurr på det hela.</p>
<p>Högaktningsfullt,<br>Tävlingsledningen</p>
<footer><%= link_to "Vin- & Fotbollstips 2016", root_url %></footer>
</body>
</html>
