<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Grattis, du är godkänd!</h1>
  <p>Tävlingsledningen har visat sin barmhärtighet och godkänt din ansökan om illegalt spel. Happy days!</p>
  <p>Nästa steg är att du lämnar in ditt grundtips, vilket måste göras innan första matchen börjar. Efter detta kan du börja tippa på matcherna. Ditt tips på varje match kan ändras fram till matchstart.</p>
  <p>Det är naturligtvis också av yttersta vikt att du så snart som möjligt lämnar in din insats, en butelj vin, till Tävlingsledningen. Flaskan ska vara av en kvalitet som betingar ett pris av ca 150 kr på Systembolaget.</p>
  <p>Buteljer kan lämnas till följande individer, på följande platser:
    <ul>
      <li><strong>Johan Karlfeldt.</strong> Maltesholmsgatan 21 i Malmö ()</li>
      <li><strong>Petter Skerfving.</strong> Kronovallsgatan 21 i Malmö (0768-986511)</li>
      <li><strong>Martin Alm.</strong></li>
      <li><strong>Forse Karlfeldt.</strong>Uppskärarvägen 1 i Löddeköpinge</li>
    </ul>
  </p>
  <p>mvh,<br>Tävlingsledningen</p>
  <footer><%= link_to "Vin- & Fotbollstips 2016", root_path %></footer>
</body>
</html>
