<header class="major">
  <h2>RTFM</h2>
</header>
<div class="container">
  <p>Bästa tippare, så här går det till.</p>
  <p>Det gäller som vanligt att ha flest poäng för att få flest vinare. Dead simple.</p>
  <h2>Insats</h2>
  <p>Insatsen är som vanligt en flaska vin. Vi har kört 100-kronorsvin nu i 12 år. Inflationen och Anders Borg säger
    att vi höjer insatsen till i runda slängar 120-spännsbuteljer.</p>
  <p>Tidigare år har spelledning varit sjukt liberal och tillåtit vininlämning ända fram till mästerskapets slut.
    Eftersom vi tycker det är pisstrist att ragga flaskor så är det så i år att har man inte lämnat in sin butelj till
    den 15 juni (femtonde juni) så blir man automatiskt utesluten (om man inte har sjukt bra bortförklaring,
    alternativt ett tungt brunt kuvert).</p>
  <p>Man kan lämna vinflaskor på följande adresser:</p>
  <ul>
    <li>Johan Karlfeldt, Maltesholmsgatan 21, Malmö</li>
    <li>Petter Skerfving, Kronovallsgatan 21, Malmö</li>
    <li>Forse & Monalisa Karlfeldt, Tillskärarvägen 1B, Löddeköpinge</li>
    <li>Anna Karlfeldt, Slottagården, Hven</li>
  </ul>
  <h2>Regler</h2>
  <p>Som ni ser i menyn så står det Matcherna, Topplistan och Mina tips (när ni loggat in). Under Mina tips tippar ni
    finallagen och mästare, samt mästerskapets skyttekung. Gör detta innan första matchen startar. Lätt!</p>
  <p>När mästerskapet börjat (eller tidigare om ni så önskar) tippar ni resultaten på matcherna. Man kan tippa ända
    fram till matchstart. Allt sparas automatiskt. Lätt.</p>
  <p>Tippar man rätt 1 X 2 så får man två poäng. Tippar man rätt resultat får man totalt tre poäng. Man får fem poäng
    för varje rätt svar under Mina tips. Lätt.</p>
  <p>När vi kommer fram till kvartsfinaler så är det resultat efter ordinarie matchtid som gäller. Lätt.</p>
  <h2>Vinster</h2>
  <p>Så här ser utdelningen ut:</p>
  <ol>
    <li>30%</li>
    <li>25%</li>
    <li>15%</li>
    <li>10%</li>
    <li>8 %</li>
    <li>6%</li>
    <li>4%</li>
    <li>2%</li>
  </ol>
  <p>Frågor?</p>
  <p>Undanbedes.</p>
</div>
