<header class="major">
  <% if current_user && current_user.admin? %>
    <h2>Redigera användare</h2>
  <% else %>
    <h2>Uppdatera mina uppgifter</h2>
  <% end %>
</header>

<div class="container">

<%= render 'form' %>

</div>