<header class="major">
  <h2>Matcher</h2>

  <ul class="sub-nav">
    <li class="all_btn active"><a href="#">Visa alla</a></li>
    <li class="upcoming_btn"><a href="#">Visa kommande</a></li>
  </ul>
</header>


<%= render 'games' %>
