<div class="title_box">
  <h1>Matcher</h1>
  <div class="title_box_nav">
    <span class="nav_item"> <%= link_to "Visa alla", games_path %> </span> | <span class="nav_item"> <%= link_to "Visa kommande", :controller => "games", :show => "upcoming" %> </span>
  </div>
</div>


<%= render 'games' %>
