<div class="title_box"><h1>
	Matcherna
</h1>	<span class="nav_item"> <%= link_to "Visa alla", games_path %> </span> | <span class="nav_item"> <%= link_to "Visa kommande", :controller => "games", :show => "upcoming" %> </span>
</div>


<%= render 'games' %>
