<header class="major">
  <h2>Matcher</h2>

  <ul class="sub-nav">
    <li> <%= link_to "Visa alla", games_path %> </li>
    <li> <%= link_to "Visa kommande", :controller => "games", :show => "upcoming" %> </li>
  </ul>
</header>


<%= render 'games' %>
