<div class="text_box">
<p>
  <b>Winning team:</b>
  <%= Team.find_by_id(@winners_tip.winning_team).country %>
</p>

<p>
  <b>Runner up:</b>
  <%= Team.find_by_id(@winners_tip.runner_up).country %>
</p>

<p>
  <b>Goal scorer:</b>
  <%= @winners_tip.goal_scorer %>
</p>

<p>
  <b>First swedish scorer:</b>
  <%= @winners_tip.first_swedish_scorer %>
</p>

