div#banner-collapse {
  position: relative;
  overflow:hidden;
  height: auto;
  transition: height 0.2s ease;
}

div#banner-collapse.collapsed {
  height: 2em;
}

.banner-toggle {
  position: absolute;
  top: 0.5em;
  right: 0.5em;

  background: rgba(144, 149, 154, 0.75);
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 17px;
  height: 50%;
  max-height: 2em;
  line-height: 2em;
  text-align: center;
  width: 3.5em;
  cursor: pointer;
}

#banner .getting-started-step h2 {
  margin-bottom: 0.2em;
}

#banner .inner .getting-started-step p {
  font-size: medium;
  margin-bottom: 1em;
}

#banner .getting-started-step p strong{
  color: inherit;
}

