div#banner-collapse {
  position: relative;
  overflow:hidden;
  height: auto;
  transition: all 0.2s ease;
  max-height: 100em;
}

div#banner-collapse.collapsed {
  max-height: 2em;
}

.banner-toggle {
  position: absolute;
  top: 0.5em;
  right: 0.5em;

  background: rgba(144, 149, 154, 0.75);
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 3.5em;
  cursor: pointer;
}

.banner-toggle:before {
  content: "Göm";
}

div#banner-collapse.collapsed .banner-toggle {
  height: 2em;
  width: 5em;
  font-size: x-small;
}

div#banner-collapse.collapsed .banner-toggle:before {
  content: "Visa";
}

#banner .getting-started-step h2 {
  margin-bottom: 0.2em;
}

#banner .inner .getting-started-step p {
  font-size: medium;
  margin-bottom: 1em;
}

#banner .getting-started-step p strong{
  color: white;
}

#banner .icon.major {
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-style: normal;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(144, 144, 144, 0.25);
}

#banner .icon.major.completed:before {
  content: "\f05d";
  position: absolute;
  top: -0.7em;
  right: -0.2em;
}
