// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.game_box {
	width:200px;
	float:left;
	margin: 0px 20px 20px 0px;
	background-color:rgb(251, 220, 45);
}

.game_datetime {
	font-size:12px;
	font-weight:700;
	padding:5px 5px 5px 10px;
	border-bottom:1px solid white;
}

.game_cup_name {
	float:right;
}

.game_result {
	height:100px;
	border-bottom:1px solid white;
}

.game_ongoing .game_result {
	background:url('../images/stripe_trans.png');
}

.game_team {
	text-align: center;
	font-size: 24;
	font-weight:700;
	color:#000000;
	padding:4px;
}

.game_score {
	text-align: center;
	vertical-align: bottom;
	font-size: 72px;
	font-weight: 900;
}

.game_home {
	width:100px;
	float:left;
	background-color:inherit;
}

.game_away {
	width:100px;
	float:left;
	background-color:inherit;
}

.game_tip_results {
	font-size:12px;
	border-bottom:1px solid white;
}

.game_tip_results div {
	padding:5px;
}

.game_comment_header, .game_comment_footer {
 	padding:5px;
}

.game_comments {
	font-size:12px;
	border-bottom:1px solid white;
}

.game_comment {
	padding:10px;
//	margin: 5px 0px 5px 0px;
	border-bottom:1px solid white;
}

.game_comment .game_commenter {
	font-size:10px;
	font-weight:bold;
}

.game_comment .game_comment_content {
	padding:3px;
}

.nbr_game_comments {
	width:auto;
	float:left;
}

.show_game_comments_button {
	float:right;
}

.game_comment_edit {
	font-size:10px;
	color:#808080;
}

.tip_panel_score {
	text-align: center;
	vertical-align: bottom;
	font-size: 48px;
	font-weight: 900;
	color:#606060;
}

.tip_panel_button {
	width:50px;
	float:left;
	text-align: center;
	font-size: 28px;
	color:#909090;
	cursor:pointer;
}
