div.game_box {
	width:200px;
	float:left;
	margin: 0px 20px 20px 0px;
//	padding: 10px;
//	background-color: rgba(0, 0, 0, 0.03);
//	color: #eee;
}

.game_datetime {
	font-size:12px;
	font-weight:400;
	padding:5px 5px 5px 10px;
//	background-color: rgba(0, 0, 0, 0.03);
//	border-bottom:1px solid rgba(255, 255, 255, 0.5);
}

.game_cup_name {
  font-size:14px;
  font-weight: 700;
//	float:right;
}

.game_result {
	margin-top:2px;
	height:120px;
//	border-bottom:1px solid rgba(255, 255, 255, 0.5);
}

.game_ongoing .game_result {
  background-color: rgba(255, 51, 0, 0.66);
//	background:url('../images/stripe_trans.png');
}

.game_team {
	text-align: center;
	font-size: 24;
	font-weight:700;
	color:white;
	padding:4px;
}

.game_score {
	text-align: center;
	vertical-align: bottom;
	line-height:72px;
	font-size: 72px;
	font-weight: 900;
}

.game_section {
	margin-top:2px;
}

.box.game_box {
  padding: 0;
}

.game_home {
	width:50%;
	float:left;
//	background-color:inherit;
}

.game_away {
	width:50%;
	float:right;
//	background-color:inherit;
}

.game_tip_results {
	font-size:12px;
//	background-color: rgba(0, 0, 0, 0.03);
//	border-bottom:1px solid rgba(255, 255, 255, 0.5);
	padding:5px;
}


.show_expand_button {
	font-size:10px;
	font-weight:bold;
	float:right;
}

.wall_of_honor_user {
	font-size:10px;
	margin-right:2px;
}

.game_comment_header, .game_comment_footer {
 	padding:5px;
}

.game_comments {
	font-size:12px;
//	background-color: rgba(0, 0, 0, 0.03);
//	border-bottom:1px solid rgba(255, 255, 255, 0.5);
}

.game_comment {
	padding:5px 10px 5px 10px;
//	margin: 5px 0px 5px 0px;
//	border-bottom:1px solid white;
}

.game_comment .game_commenter {
	font-size:10px;
	font-weight:bold;
}

.game_comment .game_comment_content {
	padding:3px;
}

.nbr_game_comments, .wall_of_honor_header {
	width:auto;
	float:left;
}

table.game_odds_table {
  margin:0px;
}

textarea {
  resize: none;
  margin-bottom: 1em;
  padding: 5px;
  font-size: small;
}
/*
.button {
	background-color:rgb(251, 142, 26);
	border-color:rgb(251, 220, 45);
	border-width:0px;
	font-family:Helvetica;
	font-weight:bold;
	float:right;
}
*/

.game_comment_textarea {
	background-color:rgb(251, 220, 45);
	border-color:rgb(251, 220, 45);
	border-width:1px;
}

.game_comment_edit {
	font-size:10px;
	color:#808080;
}

.tip_panel_score {
	text-align: center;
	vertical-align: bottom;
	font-size: 48px;
	font-weight: 900;
	line-height:48px;
}

.tip_panel_controls {
  width: 100%;
}

.tip_panel_button {
  width: 50%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  float: left;
}

.game_box.game_ongoing .game_result {
  color: white;
}

.game_box table {
	background:transparent;
	border-color:gray;
}

.game_box th {
	border-color:gray;
}



