// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.stats {
	background-color:transparent;
	border:none;
	margin:0px 0px 20px 0px;
}

td.stat h1 {
	color:white;
	text-align:right;
}

span.stat {
	color:gray;
}