<div class="game_comment_form">
<form accept-charset="UTF-8" name="comment" action="">
  <fieldset>
	<textarea id="game_comment_textarea" name="comment[content]"></textarea>
    <input type="submit" name="submit" class="button" id="submit_btn" value="Skicka" />
  </fieldset>
</form>
</div>
