<div id="notifications">
	<p id="notice"><%= notice %>
	<% if current_user %>
		<% if !current_user.cleared? %>
			Vi har nu tagit emot din ansökan om illegalt spel. Vår styrelse behandlar just nu ditt ärende. Beslut fattas inom kort. Du underrättas via mail.
		<% end %>
	<% else %>
		Du måste vara inloggad för att få vara med och leka.
	<% end %>
	</p>
</div>
