<div id="notifications">
	<p id="notice"><%= notice %></p>
	<% if current_user %>
		<% if !current_user.cleared? %>
			<p>En administrator måste godkänna att du kan delta i spelet.</p>
		<% end %>
	<% else %>
		<p>Du måste vara inloggad för att kunna delta.</p>
	<% end %>
</div>
