<% honorable_tips = honorable_hash[game.id] %>
<% if honorable_tips.length > 0 %>
	<% honorable_tips.each do |t| %>
		<span class="wall_of_honor_user"><%= link_to(t.user.name + " (" + t.user.points.to_s + ")", t.user) %></span>
	<% end %>
<% else %>
	Inget rätt tips.
<% end %>
