<div id="bosse">
	Bosse
</div>
<div id="main_content">
	<div class="title_box">
	<table class="stats">
		<tr>
			<td class="stat"><h1><%= @nbr_users %></h1></td>
			<td><h1>tippare anmälda.</h1></td>
		</tr>
		<tr>
			<td class="stat"><h1><%= @nbr_tips %></h1></td>
			<td><h1>har börjat tippa.</h1></td>
		</tr>
		<tr>
			<td class="stat"><h1><%= @nbr_wine %></h1></td>
			<td><h1>har lämnat in vin.</h1></td>
		</tr>
		<tr>
			<td class="stat"><h1><%= @nbr_days_wine %></h1></td>
			<td><h1>dagar kvar att göra rätt för sig.</h1><h1>Sen säger Bosse: "Haj me' daj"</h1></td>
		</tr>
	</table>
	
	</div>
</div>
